[Unit]
Description=i3 service at %i
After=xorg.target
Requires=xorg.target
BindsTo=xorg.target

[Service]
ExecStart=/usr/bin/i3
Restart=always
RestartSec=10

[Install]
WantedBy=wm.target
