[Unit]
Description=Mailbox synchronization service
Wants=network-online.target
After=network-online.target
Requires=dbus.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/offlineimap

[Install]
WantedBy=default.target
