[Unit]
Description=Screen lock
Before=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
Wants=sway@%i.socket

[Service]
Type=oneshot
Environment=WAYLAND_DISPLAY=wayland-%i
ExecStart=/usr/bin/swaylock


[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
