URxvt*cursorBlink: false
URxvt*cursorUnderline: false
URxvt*.font: xft:Noto Mono:size=8:normal:antialias=true:hinting=slight, \
xft:Noto Sans Mono CJK JP:size=8:normal:antialias=true:hinting=slight, \
xft:Noto Color Emoji:size=8:normal:antialias=true:hinting=slight, \
xft:Noto Emoji:size=8:normal:antialias=true:hinting=slight
URxvt*.internalBorder: 0
URxvt*.externalBorder: 0
xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
URxvt*saveLines: 8192
URxvt*scrollBar: false
URxvt.letterSpace: -1
URxvt.internalBorder: 4

! https://events.ccc.de/congress/2016/wiki/Static:Design

*foreground: #ffffff
*background: #000000
! black
*color0: #000000
*color8: #575757
! red
*color1: #e7344c
*color9: #e7344c
! green
*color2: #a2c617
*color10: #a2c617
! yellow / orange
*color3: #fff374
*color11: #fff374
! blue
*color4: #75519c
*color12: #75519c
! magenta
*color5: #ec6090
*color13: #ec6090
! cyan
*color6: #007bc4
*color14: #007bc4
! white
*color7: #ffffff
*color15: #ffffff
