URxvt*cursorBlink: false
URxvt*cursorUnderline: false
URxvt*.font: xft:Noto Mono:size=8:normal:antialias=true:hinting=slight, \
xft:Noto Sans Mono CJK JP:size=8:normal:antialias=true:hinting=slight, \
xft:Noto Color Emoji:size=8:normal:antialias=true:hinting=slight, \
xft:Noto Emoji:size=8:normal:antialias=true:hinting=slight
URxvt*.internalBorder: 0
URxvt*.externalBorder: 0
xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
URxvt*saveLines: 8192
URxvt*scrollBar: false

! source: https://www.reddit.com/r/vim/comments/36xzbs/vim_paper_color_theme_inspired_by_googles/crqbfpa
! PaperColor Theme
*foreground: #4D4D4C
*background: #EEEEEE
! black
*color0: #EDEDED
*color8: #969694
! red
*color1: #D7005F
*color9: #D7005F
! green
*color2: #718C00
*color10: #718C00
! yellow / orange
*color3: #D75F00
*color11: #D75F00
! blue
*color4: #4271AE
*color12: #4271AE
! magenta
*color5: #8959A8
*color13: #8959A8
! cyan
*color6: #3E999F
*color14: #3E999F
! white
*color7: #4D4D4C
*color15: #F5F5F5
