*.faceName: Monospace:normal:size=10:antialias=true:hinting=true
*.font: 9x15
xterm*BorderWidth: 0
xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
xterm*saveLines: 65536
xterm*ScrollBar: false

#include "src/solarized/xresources/solarized"
